@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family: sans-serif;
}

body{
    background: #F5F5F7;
}

.Navbar>li>a{
    color: #323232;
    font-size: 12px;
}

.Navbar>li{
    @apply px-4 font-light;
    font-weight: 500;
}

.Navbar{
    padding-top: 2px;
    gap: 7px;
}

.dropdown>ul>li{
    padding-bottom: 5px;
    font-size: 28px;
    @apply flex justify-between items-center;
    cursor: pointer;
}

.dropdown>ul>li:hover .FaAngleRight{
    display: block;
}

.iphones{
    font-size: 12px;
}